<aside class="col-md-3">
    <div class="list-group">
        <a href="../javascript/index.html" class="list-group-item list-group-item-action active">📌 JavaScript</a>
        <a href="../javascript/variables.html" class="list-group-item list-group-item-action">🔹 Variables</a>
        <a href="../javascript/funciones.html" class="list-group-item list-group-item-action">🔹 Funciones</a>
        <a href="../javascript/arrays.html" class="list-group-item list-group-item-action">🔹 Arrays</a>
        <a href="../javascript/dom.html" class="list-group-item list-group-item-action">🔹 Manipulación del DOM</a>
    </div>
</aside>
